*{
    margin: 0;
    padding: 0;
    font-family: "poppins" , sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(imgg1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.wrapper{
    color: white;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    width: 420px;
    border-radius: 10px;
    padding: 30px 40px;

}
.wrapper h1{
    text-align: center;
    font-size: 36px;
}
.wrapper .input_box{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 30px 0;

}
input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    color: #fff;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}
.input_box input::placeholder {
    color: #fff;
}
.input_box i {
    position: absolute;
    right: 24px;
    top: 67%;
    transform: translateY(-50%);
    font-size: 20px
}
.rem{
width: 9%;
height: 45%;
accent-color: #fff;
margin-right: 3px;
}
.wrapper .remember-me{
    display: flex;
    justify-content: space-between;

}
.remember-me a {
    color: white;
    text-decoration: none;
}
.remember-me a:hover{
    text-decoration: underline;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    
}
.register-link p a:hover{
    text-decoration: underline;
}
